<div class="container align-center border" style="margin-top: 1cm; width:25cm"  [hidden]="isHidden2" >

<form [formGroup]="NEFTForm" (ngSubmit)="post_update_api(NEFTForm.value)" >

    <h1 class="text-center mt-3" style="background-color: rgb(141, 212, 74); color: white;">Initiate NEFT Payment</h1>
    <div class="">
        <div class="row mt-5 form-group">
            <div class="col-md-6">    
    
        <label for="From_Account" >From Account<span class="text-danger">*</span></label>
    </div>
    <div class="col-md-6">
        <input type="text " pattern="\d*" id="From_Account" name="From_Account" formControlName="From_Account" >
        <span class="error" *ngIf="NEFTForm.controls.From_Account.invalid&&(NEFTForm.controls.From_Account.touched && !NEFTForm.controls.From_Account.dirty)" >This field is mandatory</span>           
        <span class="error" *ngIf="NEFTForm.controls.From_Account.invalid&&(NEFTForm.controls.From_Account.touched && NEFTForm.controls.From_Account.dirty)" >Invalid Account Number</span>           


    </div>
</div>

<div class="row mt-5 form-group">
 <div class="col-md-6">
        <label for="To_Account" >To Account<span class="text-danger">*</span></label>
    </div>
    <div class="col-md-6">
        <input type="number" pattern="\d*" id="To_Account" name="To_Account" formControlName="To_Account" maxlength="10"  required>
        <span class="error" *ngIf="NEFTForm.controls.To_Account.invalid&&(NEFTForm.controls.To_Account.touched && !NEFTForm.controls.To_Account.dirty)" >This field is mandatory</span>           
        <span class="error" *ngIf="NEFTForm.controls.To_Account.invalid&&(NEFTForm.controls.To_Account.touched && NEFTForm.controls.To_Account.dirty)" >Invalid Account Number</span>           

        <button routerLink="/AddPayee" class="float-end btn btn-primary mt-3" class="float-end btn btn-primary mt-3" style="background-color: #6f7177; color: white;">Add New +</button>

        
    </div>
</div>

<div class="row mt-5 form-group">
 <div class="col-md-6">
        <label for="Amount" >Amount<span class="text-danger">*</span></label>
    </div>
    <div class="col-md-6">
        <input type="number" id="Amount" name="Amount" formControlName="Amount">
        <span class="error" *ngIf="NEFTForm.controls.Amount.invalid&&(NEFTForm.controls.Amount.touched)" >This field is mandatory</span>           

        
         
    </div>
</div>

<div class="row mt-5 form-group">
 <div class="col-md-6">
        <label for="Transaction_Date" >Transaction Date<span class="text-danger">*</span></label>
    </div>
    <div class="col-md-6">
        <input type="date" id="Transaction_Date" name="Transaction_Date" formControlName="Transaction_Date">
        <span class="error" *ngIf="NEFTForm.controls.Transaction_Date.invalid&&(NEFTForm.controls.Transaction_Date.touched)" >This field is mandatory</span>           

    </div>
</div>

<div class="row mt-5 form-group">
 <div class="col-md-6">
        <label for="Remark" >Remark<span class="text-danger">*</span></label>
    </div>
    <div class="col-md-6">
        <input type="text" id="Remark" name="Remark" formControlName="Remark">
        <span class="error" *ngIf="NEFTForm.controls.Remark.invalid&&(NEFTForm.controls.Remark.touched)" >This field is mandatory</span>           

        
    </div>
    </div>


<div class="row mt-5 form-group">
 <div class="col-md-6">
<p>Please Note</p>
<ol>
    <li style="font-style: italic; width: 20cm;" >
        Transaction will be executed on the next working day if they are scheduled for Sundays, National Holidays, NEFT Holidays (as declared by RBI).
    </li>
    <li style="font-style: italic; width: 20cm;"> 
        Timing for NEFT: Monday - Saturday(except 2nd and 4th Saturday) 6:00 AM - 6:30 PM.
    </li>
</ol>

    </div>
    </div>
    </div>
    <div class="col-md-6">
        <button type="submit" [disabled]="NEFTForm.invalid" class="float-end btn btn-primary mt-3" style="background-color: #6f7177; color: white;" >Save</button>
    </div>
    <div class="col-md-6">
        <button type="reset" class="float-end btn btn-primary mt-3" style="background-color: #6f7177; color: white;">Reset</button>
    </div>
    <div class="col-md-6">
        <button class="float-end btn btn-primary mt-3" style="background-color: #6f7177; color: white;">Save as Template</button>
    </div>
    <div class="col-md-6">
        <button type="submit" [disabled]="NEFTForm.invalid" style="background-color: #6f7177; color: white;" class="float-end btn btn-primary mt-3"  id="continue" style="margin: auto;">Continue</button>
        
    </div>
    

</form>
</div>

<div class="container align-center border" style="margin-top: 1cm; width:25cm" [hidden]="isHidden1">
<form >
    <h1 class="text-center mt-3">Transaction Successful</h1>
    <div class="">
        <div class="row mt-5 form-group">
            <div class="col-md-6">
        <label for="RefrenceId" style=" padding-left: 3cm;" >Reference ID:</label>
    </div>
    <div class="col-md-6">
        <span id="receipt" >{{ReceiptReferenceId}}</span>
    </div>
</div>
<div class="row mt-5 form-group">
<div class="col-md-6">
        <label for="Mode" style=" padding-left: 3cm;">Mode:</label>
    </div>
    <div class="col-md-6">
        <span id="receipt">{{ReceiptMode}}</span>
    </div>
</div>
<div class="row mt-5 form-group">
<div class="col-md-6">
        <label for="Paid_To_Account"style=" padding-left: 3cm;">Paid to Account:</label>
    </div>
    <div class="col-md-6">
        <span id="receipt">{{ReceiptToAccount}}</span>
    </div>
</div>
<div class="row mt-5 form-group">
<div class="col-md-6">
        <label for="Amount" style=" padding-left: 3cm;">Amount:</label>
    </div>
    <div class="col-md-6">
        <span id="receipt">{{ReceiptAmount}}</span>
    </div>
</div>
<div class="row mt-5 form-group">
<div class="col-md-6">
        <label for="From_Account" style=" padding-left: 3cm;">From Account:</label>
    </div>
    <div class="col-md-6">
        <span id="receipt">{{RecieptFromAccount}}</span>
    </div>
</div>
<div class="row mt-5 form-group">
<div class="col-md-6">
        <label for="On" style=" padding-left: 3cm;">On:</label>
    </div>
    <div class="col-md-6">

        <span id="receipt">{{ReceiptOn}}</span>
    </div>
</div>
<div class="row mt-5 form-group">
<div class="col-md-6">
        <label for="Remarks" style=" padding-left: 3cm;">Remarks:</label>
    </div>
    <div class="col-md-6">
        <span id="receipt">{{ReceiptRemarks}}</span>
    </div>
    </div>
    </div>

</form>
</div>
