<div class="container align-center border" style="margin-top: 1cm; width:25cm">
<form [formGroup]="ForgotUserIdForm" (ngSubmit)="onSubmit()">
    <h1 class="text-center mt-3" style="background-color: rgb(141, 212, 74); color: white;">Forgot User ID</h1>
    <h3 class="text-center mt-3" style="background-color: rgb(141, 212, 74); color: white;" >Enter Details</h3>


    <div class="">
        <div class="row mt-5 form-group">
            <div class="col-md-6">
<label for="Enter_Account_Number">Enter Account Number <span class="text-danger">*</span></label>
</div>
<div class="col-md-6">
<input type="number" id="Enter_Account_Number" name="Enter_Account_Number" formControlName="Enter_Account_Number">
</div>
</div>


  <div class="col-md-6">
    <button type="submit" class="float-end btn btn-primary mt-3" style="background-color: #6f7177; color: white;" >Proceed</button>
    </div>
    <div class="col-md-6">
    <button type="submit" class="float-end btn btn-primary mt-3" style="background-color: #6f7177; color: white;"  ><a routerLink="/Login">Back</a></button>
    </div>
    </div>
    </form>
    </div>