/* form{
    margin-left: 10cm;
    margin-right: 10cm;
    border: solid black;
    padding: 2mm;
}
p{
    line-height: 200%;
}
input {
    float: right;
}
h1{
    margin: auto;
}
#Login{
    border-style: solid;
    border-width: 2px;
    width: fit-content;
    text-align: center;
    margin: auto;
}
.error{
    color:red;
    font-family:Arial, Helvetica, sans-serif;
}*/

.disabled{
    pointer-events: none;
    
}
.error{
    color:red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label{
padding-left: 1cm;

}
input{
    float: right;
}
form{
    padding-bottom: 1mm;
}
