<div class="container align-center border" style="width: max-content; margin-top: 3cm; box-sizing: content-box; ">
    <div class="vertical-menu" style="margin-left: 1cm; margin-top: 1cm; margin-bottom: 1cm; width: fit-content;margin-right: 1cm; ">
        <h1 class="text-center mt-3" style="background-color: rgb(141, 212, 74); color: white;">Update</h1>

    <a href="#" [routerLinkActive]="['active']" routerLink="/SetTranPassword" style="font-size: x-large; " >Change Transaction Password</a>
    <a href="#" [routerLinkActive]="['active']" routerLink="/SetPassword" style="font-size: x-large; ">Change Password</a>
</div>
</div>