
<div class="container  align-center border " style="margin-top: 2cm; width:fit-content; padding: 2mm;">
    <h2 class="text-center mt-3" style="background-color: rgb(141, 212, 74); color: white;">Account Summary</h2>


<input type="text" [(ngModel)]=" UserAccountNumber" style="margin-right: 2mm;" >

<input type="button" value="Enter Account Number" (click)="GetAccountSummary()">
</div>
<br>
<br>
<table border='1'  class="container align-center border" >
    <th style="background-color:rgb(141, 212, 74) ; color: white; font-size: larger;">Transaction ID</th>
    <th style="background-color:rgb(141, 212, 74) ; color: white; font-size: larger;">Account Number</th>
    <th style="background-color:rgb(141, 212, 74) ; color: white; font-size: larger;">Date Of Transaction</th>
    <th style="background-color:rgb(141, 212, 74) ; color: white; font-size: large;">Transaction Type</th>
    <th style="background-color:rgb(141, 212, 74) ; color: white;font-size: large;">Account Balance</th>
    <th style="background-color:rgb(141, 212, 74) ; color: white;font-size: large;">Comments</th>
    <tr *ngFor="let item of  UserTransactionRecord">
        <td *ngIf="item.accountNumber==UserAccountNumber">{{item.transactionId}}</td>
        <td *ngIf="item.accountNumber==UserAccountNumber">{{item.accountNumber}}</td>
        <td *ngIf="item.accountNumber==UserAccountNumber">{{item.transactionDate}}</td>
        <td *ngIf="item.accountNumber==UserAccountNumber">{{item.transactionType}}</td>
        <td *ngIf="item.accountNumber==UserAccountNumber">{{item.accountBalance}}</td>
        <td *ngIf="item.accountNumber==UserAccountNumber">{{item.remark}}</td>
    </tr>
</table>
