<!-- <app-user-dashboard></app-user-dashboard>
<br>
<app-impstransaction></app-impstransaction>
<br>
 <app-rtgstransaction></app-rtgstransaction>
<br>
<app-nefttransaction></app-nefttransaction>
<br>
<app-home></app-home>
<br>
<app-login></app-login>
<br>
<app-beneficiary></app-beneficiary>
<br>
<app-netbanking-register></app-netbanking-register>
<br>
<app-forgot-password></app-forgot-password>
<br>
<app-set-new-tran-pasword></app-set-new-tran-pasword>
<br>
<app-set-new-password></app-set-new-password>
<br>  -->
<router-outlet></router-outlet>

