<h2 class="text-center mt-3" style="background-color: rgb(141, 212, 74); color: white; margin-top: 3cm;">All User Details</h2>
<div>
<span>
    <button class="float-end btn btn-primary mt-3" style="background-color: #6f7177; color: white; float: right; margin-bottom: 2mm;" (click)="logOutAdmin()">Log Out</button>
</span>
</div>
<div>
<table border='1'class="container align-center border" style="width: 100cm;">
    <th  style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">Aadharcard Number</th>
    <th  style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">Title</th>
    <th style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">First Name</th>
    <th style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">Middle Name</th>
    <th style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;"> Last Name</th>
    <th  style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">Father's Name</th>
    <th  style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">Mobile Number</th>
    <th  style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">Email ID</th>
    <th  style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">Date of Birth</th>
    <th  style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">Residential Address line1</th>
    <th  style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">Residential Address line2</th>
    <th  style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">Residential Landmak</th>
    <th  style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">Residential Pincode</th>
    <th  style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">permanent equal Residential</th>
    <th  style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">Occupation Type</th>
    <th  style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">Source of Income</th>
    <th  style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">Gross Annual Income</th>
    <th style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">Debit Card</th>
    <th style="background-color:rgb(141, 212, 74) ; color: white; font-size: small;">Net Banking</th>

    <tr *ngFor="let item of allUser">
        <!-- <tr *ngIf = "item.approvalStatus==false"> -->

        

        
            <td *ngIf = "item.approvalStatus==false">{{item.aadharCardNumber}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.title}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.firstName}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.middleName}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.lastName}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.fathersName}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.mobileNumber}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.emailId}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.dateOfBirth}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.residentialAddrLine1}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.residentialAddrLine2}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.residentialLandmark}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.residentialPincode}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.permEqualRes}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.occupationType}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.sourceOfIncome}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.grossAnnualIncome}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.debitCard}}</td>
            <td *ngIf = "item.approvalStatus==false">{{item.netBanking}}</td>
            
            <button type="submit" (click) = "approve(item)" *ngIf = "item.approvalStatus==false">Approve</button>
            <button type="submit" (click) = "notapprove(item)" *ngIf = "item.approvalStatus==false" routerLink="/AdminDashboard"> Not Approve</button>
        </tr>
  
</table>
</div>
