<form [formGroup]="SetNewTranPasswordForm " (ngSubmit)="put_api(SetNewTranPasswordForm.value.UserId,SetNewTranPasswordForm.value)">
    <h2 id="neft">Set New Password</h2>



    <p>
        <label for="UserId">Enter User ID</label>
        <input type="number" id="UserId" name="UserId" formControlName="UserId">
        </p>
        <p>
            <label for="AccountNumber">Enter Account Number</label>
            <input type="text" pattern="\d*" id="AccountNumber" name="AccountNumber" formControlName="AccountNumber">
            </p>
    <p>
<label for="Login_Password">Login Password</label>
<input type="text" id="Login_Password" name="Login_Password" formControlName="UserPassword">
</p>
<p>
    <label for="Confirm_Login_Password">Confirm Login Password</label>
    <input type="text" id="Confirm_Login_Password" name="Confirm_Login_Password" formControlName="Confirm_Login_Password">
    <span class="error" *ngIf="SetNewTranPasswordForm.controls.Confirm_Login_Password.invalid&&(SetNewTranPasswordForm.controls.Confirm_Login_Password.touched && SetNewTranPasswordForm.controls.Confirm_Login_Password.dirty)" >Password doesn't match</span>

    </p>
    <p>
        <p>
            <label for="TransactionPass">Transaction Password</label>
            <input type="text" id="TransactionPass" name="TransactionPass" formControlName="TransactionPass">
            </p>
            <p>
                <label for="Confirm_Transaction_Password">Confirm Transaction Password</label>
                <input type="text" id="Confirm_Transaction_Password" name="Confirm_Transaction_Password" formControlName="Confirm_Transaction_Password">
                <span class="error" *ngIf="SetNewTranPasswordForm.controls.Confirm_Transaction_Password.invalid&&(SetNewTranPasswordForm.controls.Confirm_Transaction_Password.touched && SetNewTranPasswordForm.controls.Confirm_Transaction_Password.dirty)" >Password doesn't match</span>

                </p>
                <p>

    <button type="submit" [disabled]="SetNewTranPasswordForm.invalid">Proceed</button>
    </p>
    </form>
