form{
    margin-left: 10cm;
    margin-right: 10cm;
}
#neft{
    border-style: solid;
    border-width: 2px;
    width: fit-content;
    text-align: center;
    margin: auto;
  
}
#class1{
    border-style: solid;
    border-width: 2px;  
}
.error{
    color:red;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    line-height: 200%;
}
input{
    float: right;
}
 button{
     margin-left: 5mm;
     margin-right: 5mm;
 }