<form [formGroup]="ForgotPasswordForm " (ngSubmit)="onSubmit()">
    <h2 id="neft">Forgot Password</h2>
    <h3 id="class1">Enter Details</h3>


    <p>
<label for="Enter_User_ID">Enter User ID</label>
<input type="number" id="Enter_User_ID" name="Enter_User_ID" formControlName="Enter_User_ID">
</p>
<p>
    <label for="Enter_OTP">Enter OTP</label>
    <input type="number" id="Enter_OTP" name="Enter_OTP" formControlName="Enter_OTP">
    </p>
    <p>
    <button type="submit" >Proceed</button>
    <button type="submit" ><a routerLink="/Login">Back</a></button>
    </p>
    </form>
    



