<div class="container align-center border" style="margin-top: 1cm; width:25cm">
<form [formGroup]="ForgotPasswordForm " (ngSubmit)="onSubmit()">
    <h1 class="text-center mt-3" style="background-color: rgb(141, 212, 74); color: white;">Forgot Password</h1>
        <h3 class="text-center mt-3" style="background-color: rgb(141, 212, 74); color: white;">Enter Details</h3>

        <div class="">
            <div class="row mt-5 form-group">
                <div class="col-md-6">
<label for="Enter_User_ID">Enter User ID<span class="text-danger">*</span></label>
</div>
<div class="col-md-6">
<input type="number" id="Enter_User_ID" name="Enter_User_ID" formControlName="Enter_User_Id">
</div>
</div>

<br>

   <div class="col-md-6">
    <button type="submit" class="float-end btn btn-primary mt-3" style="background-color: #6f7177; color: white;"  [disabled]="ForgotPasswordForm.invalid">Proceed</button>
    </div>
    <div class="col-md-6">
    <button type="submit" class="float-end btn btn-primary mt-3"><a routerLink="/Login" style="background-color: #6f7177; color: white;">Back</a></button>
    </div>
    </div>
    
    </form>
    </div>
    



