
<div class="vertical-menu">
    <h2 id ="Udash">User Dashboard</h2>
    <a href="#" [routerLinkActive]="['active']" class="active">Home</a>
    <a href="#" [routerLinkActive]="['active']" >Account Details</a>
    <a href="#" [routerLinkActive]="['active']" routerLink="/AccountSummary">Account Summary</a>
    <a href="#" [routerLinkActive]="['active']" routerLink="/FundsTransfer">Funds Transfer</a>
    <a href="#" [routerLinkActive]="['active']">Account Statement</a>
    <a href="#" [routerLinkActive]="['active']" routerLink="/UpdateCredentials">Update credentials</a>


    
  </div>
  <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
