


  <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div> 

<div class="container" style="margin-left: 5cm; margin-top: 1cm;" >
    <div class="row">
        <div class="col-lg-12">
            <h1>Welcome {{this.global.GlobalUser_Name}}!</h1>
            <span>
                <button class="float-end btn btn-primary mt-3" style="background-color: #6f7177; color: white; float: right; margin-bottom: 2mm;" routerLink="/Login">Log Out</button>
            </span>
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
            </ol>
            
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-md-3">
            <div class="panel panel-default ">
                <div class="panel-body panel-tw panel-content">
                    <a href="#" [routerLinkActive]="['active']" routerLink="/AccountSummary" style="text-align: center; font-size: x-large; color: white;" >Account Summary</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default ">
                <div class="panel-body panel-fb panel-content">
                    <div class="col-xs-5">
                        <i class="fa fa-facebook fa-5x"></i>
                    </div>
                    <a href="#" [routerLinkActive]="['active']" routerLink="/FundsTransfer" style="text-align: center; font-size: x-large; color: white;"  class="active">Funds Transfer</a>

                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default ">
                <div class="panel-body panel-in panel-content">
                    <div class="col-xs-5">
                        <i class="fa fa-money fa-5x"></i>
                    </div>
                    <div class="col-xs-5 text-right">
                        <a href="#" [routerLinkActive]="['active']" routerLink="/AccountStatement" style="text-align: center; font-size: x-large; color: white;">Account Statement</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default ">
                <div class="panel-body panel-dl panel-content">
                    <div class="col-xs-5">
                        <i class="fa fa-download fa-5x"></i>
                    </div>
                    <div class="col-xs-5 text-right">
                        <a href="#" [routerLinkActive]="['active']" routerLink="/UpdateCredentials" style="text-align: center; font-size: x-large; color: white;">Update credentials</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>      
    <br>
    <div class="row">
        <div class = "column">

        
          
    <div class="vertical-menu" style="margin-left: 1mm;">
      
       
        <p>
    <a href="#" [routerLinkActive]="['active']"  class="active" style="font-size: x-large;">Home</a>
</p>

<p>
    <a href="#" [routerLinkActive]="['active']" routerLink="/AccountSummary" style="font-size: x-large;">Account Summary</a>
    
    </p>
    <p>
    <a href="#" [routerLinkActive]="['active']" routerLink="/FundsTransfer" style="font-size: x-large;">Funds Transfer</a>
    </p>
    <p>
    <a href="#" [routerLinkActive]="['active']" routerLink="/AccountStatement" style="font-size: x-large;">Account Statement</a>
    </p>
    <p>
    <a href="#" [routerLinkActive]="['active']" routerLink="/UpdateCredentials" style="font-size: x-large;">Update credentials</a>
    </p>    
    
</div>
    </div>
    <div class="column">
   
        <span>
            <img class = "mb-4" src = "assets\loanlyInfo.jpeg" alt height = "500" width = "1100">
        </span>
        
    </div>
    <div class = "column1">
        <span>
            <img class = "mb-4" src = "assets\loanlyAD.jpeg" alt height = "350" width = "250">
        </span>
    </div>
    </div>
 