 <!-- <h1 style="border-style: solid black; width:fit-content; margin: auto; font-weight: bolder; " >Home</h1> -->
<div>
    <img src="assets\Loanly.jpg" width="500px" height="300px" style="padding-left: 13cm; margin-top: 0mm;" >
</div>
  <table style="height: 7cm; width: 7cm;">

    
<th >Login Internet Banking</th>
<tr><td><a routerLink="/Login">Login</a></td></tr>
<tr><td><a routerLink="/Register">New User? Register</a></td></tr>
<tr><td><a routerLink="/OpenSavingsAccount">Apply Online for Account</a></td></tr>


</table>

<br>
<br>
<br>
<br>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
