<form [formGroup]="SetPasswordForm " (ngSubmit)="put_api(SetPasswordForm.value.UserId,SetPasswordForm.value)">
    <h2 id="neft">Set New Password</h2>

    <p>
        <label for="UserId">Enter User ID</label>
        <input type="number" id="UserId" name="UserId" formControlName="UserId">
        </p>
        <p>
            <label for="AccountNumber">Enter Account Number</label>
            <input type="text" pattern="\d*" id="AccountNumber" name="AccountNumber" formControlName="AccountNumber">
            </p>
            <p>
                <label for="Transaction_pass">Enter Transaction Password</label>
                <input type="text" id="Login_Password" name="Login_Password" formControlName="TransactionPass">
                </p>

    <p>
<label for="Login_Password">Login Password</label>
<input type="text" id="Login_Password" name="Login_Password" formControlName="UserPassword">
</p>
<p>
    <label for="Confirm_Login_Password">Confirm Login Password</label>
    <input type="text" id="Confirm_Login_Password" name="Confirm_Login_Password" formControlName="Confirm_Login_Password" >
        <span class="error" *ngIf="SetPasswordForm.controls.Confirm_Login_Password.invalid&&(SetPasswordForm.controls.Confirm_Login_Password.touched && SetPasswordForm.controls.Confirm_Login_Password.dirty)" >Password doesn't match</span>
    </p>
    <p>
    <button type="submit" [disabled]="SetPasswordForm.invalid">Proceed</button>
    </p>
    </form>