<div class="container align-center border" style="margin-top: 1cm; width:25cm">

<form [formGroup]="SetPasswordForm " (ngSubmit)="put_api(SetPasswordForm.value.UserId,SetPasswordForm.value)">
    <h1 class="text-center mt-3" style="background-color: rgb(141, 212, 74); color: white;">Set New Password</h1>

    <div class="">
        <div class="row mt-5 form-group">
            <div class="col-md-6">
        <label for="UserId">Enter User ID <span class="text-danger">*</span></label>
    </div>
    <div class="col-md-6">
        <input type="number" id="UserId" name="UserId" formControlName="UserId">
    </div>
</div>
<div class="row mt-5 form-group">
 <div class="col-md-6">
            <label for="AccountNumber">Enter Account Number <span class="text-danger">*</span></label>
        </div>
        <div class="col-md-6">
            <input type="text" pattern="\d*" id="AccountNumber" name="AccountNumber" formControlName="AccountNumber">
        </div>
    </div>
    <div class="row mt-5 form-group">
     <div class="col-md-6">
                <label for="Transaction_pass">Enter Transaction Password <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-6">
                <input type="text" id="Login_Password" name="Login_Password" formControlName="TransactionPass">
            </div>
        </div>
        <div class="row mt-5 form-group">
         <div class="col-md-6">   
<label for="Login_Password">Login Password  <span class="text-danger">*</span></label>
</div>
<div class="col-md-6">
<input type="text" id="Login_Password" name="Login_Password" formControlName="UserPassword">
<span class="error" *ngIf="SetPasswordForm.value.Login_Password.invalid && SetPasswordForm.value.Login_Password.touched
 && !SetPasswordForm.value.Login_Password.dirty">This field is mandatory</span>
 <span class="error" *ngIf="SetPasswordForm.value.Login_Password.invalid && SetPasswordForm.value.Login_Password.touched
 && SetPasswordForm.value.Login_Password.dirty">
 The password should be 8-30 characters and contain at least 1 lowercase, 1 uppercase, 1 numeric and 1 special character</span>
</div>
</div>
<div class="row mt-5 form-group">
 <div class="col-md-6"> 
    <label for="Confirm_Login_Password">Confirm Login Password  <span class="text-danger">*</span></label>
</div>
<div class="col-md-6">
    <input type="number" id="Confirm_Login_Password" name="Confirm_Login_Password" formControlName="Confirm_Login_Password" >
    <span class="error" *ngIf="SetPasswordForm.controls.Confirm_Login_Password.invalid&&(SetPasswordForm.controls.Confirm_Login_Password.touched && SetPasswordForm.controls.Confirm_Login_Password.dirty)" >Password doesn't match</span>


    </div>
</div>

 <div class="col-md-6"> 
    <button type="submit" class="float-end btn btn-primary mt-3" [disabled]="SetPasswordForm.invalid" style="background-color: #6f7177; color: white;">Proceed</button>
 </div>
 </div>
 
    </form>
    </div>